.title-content {
    margin-top: 10px;
    border-bottom: 1px solid #e5e7ee;
    // height: 40px;
    padding: 10px;

    :global {
        .ant-form-item {
            margin-bottom: 0;
        }
    }
}