.httpContainer {
    max-height: 500px;
    overflow-y: auto;
    padding-right: 16px;
}


.httpContainer:hover {
    border-color: #adb5bd;
}

.httpContainer::-webkit-scrollbar {
    width: 10px;
    height: 6px;
}

.httpContainer::-webkit-scrollbar-track {
    border-radius: 3px;
}

.httpContainer::-webkit-scrollbar-thumb {
    background: rgba(135, 130, 130, .2);
    border-radius: 3px;
}

.httpContainer::-webkit-scrollbar-thumb:hover {
    background: rgba(135, 130, 130, .6);
    border-radius: 3px;
}