.btnStyle {
    height: 32px;
    border: 1px solid skyblue;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px;
    cursor: pointer;
    
}