.wrapper {
    margin-top: 10px;
    height: 100%;
    min-height: 300px;
    max-height: 600px;
    overflow: auto;
    border-radius: 15px;
    box-shadow: 0 0 12px rgba(0, 0, 0, .12);
    padding: 10px;
}

.title-row {
    font-size: 14px;
    text-align: center;
    margin: 10px 0;
}