.certainCategorySearchDropdown .ant-select-dropdown-menu-item-group-title {
    color: #666;
    font-weight: bold;
}

.certainCategorySearchDropdown .ant-select-dropdown-menu-item-group {
    border-bottom: 1px solid #f6f6f6;
}

.certainCategorySearchDropdown .ant-select-dropdown-menu-item {
    padding-left: 16px;
}

.certainCategorySearchDropdown .ant-select-dropdown-menu-item.show-all {
    text-align: center;
    cursor: default;
}

.certainCategorySearchDropdown .ant-select-dropdown-menu {
    max-height: 300px;
}
// style={{maxHeight: '600px', overflowY: 'auto'}}
.dbContainer {
    max-height: 566px;
    overflow-y: auto;
    padding-right: 16px;
}

.dbContainer:hover {
    border-color: #adb5bd;
}

.dbContainer::-webkit-scrollbar {
    width: 10px;
    height: 6px;
}

.dbContainer::-webkit-scrollbar-track {
    border-radius: 3px;
}

.dbContainer::-webkit-scrollbar-thumb {
    background: rgba(135, 130, 130, .2);
    border-radius: 3px;
}

.dbContainer::-webkit-scrollbar-thumb:hover {
    background: rgba(135, 130, 130, .6);
    border-radius: 3px;
}