.data-file-field {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.test-data-generate {
    border: 2px dashed #dee2e6;
    border-radius: 10px;
    padding: 10px;

    display: flex;
    flex-direction: column;
}

#test-data-generate-title {
    text-align: start;
    margin-top: 7px;
    margin-bottom: 15px;
    font-weight: bold;
}

.interface-file-field {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 10px 0 28px 0;

    :global {
        .ant-upload-list {
            position: absolute;
        }
    }
}

.empty-style {
    height: 600px;
    display: flex;
    justify-content: center;
    border: 1px dashed #b9b2b2a8;
    border-radius: 15px;
    padding-top: 130px;
    font-size: 19px;
    font-weight: 500;
    color: #bfbaba;
}

.test-data-generate-tips {
    margin: 0 0 10px 10px;
    color: #b5b5b5;
}