.capsule-switch {
    width: 64px;
    height: 28px;
    border-radius: 14px;
    background-color: #d9d9d9;
}

.capsule-switch .ant-switch-handle {
    width: 24px;
    height: 24px;
    top: 2px;
    left: 2px;
    border-radius: 50%;
}

.capsule-switch.ant-switch-checked {
    background-color: #1890ff;
}

.capsule-switch.ant-switch-checked .ant-switch-handle {
    left: 38px;
}