.monacoEditor {
    // min-height: 300px;
    // max-height: 500px;
    height: 300px;

    :global {
        section {
            min-height: 100px;
        }
    }
}

.header {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.cookies {
    white-space: pre-wrap;
    word-wrap: break-word;
}